// .union-path {
//     stroke-dasharray: 3000;
//     stroke-dashoffset: 3000;
// }

// .reveal-visible .union-path {
//     animation: dash 3s linear forwards;
// }

// @keyframes dash {
//   to {
//     stroke-dashoffset: 0;
//   }
// }


.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter {
  transition-delay: .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;

  [class$=__bg] {
    opacity: 0;
  }
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter {
  transition-delay: .5s;
}
.layout-enter, .layout-leave-to {
  opacity: 0;

  [class$=__bg] {
    opacity: 0;
  }
}
