*, :after, :before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $maincolor;
    font-size: $base-font-size;
    font-family: 'Suisse Int`l', sans-serif;
}

a {
    color: $textcolor;
    text-decoration: none;
}

button {
    padding: 0;
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
