.clear {
    clear: both;
}

// Flexbox
.d-flex {
    display: flex;
}

.d-md-flex {
    @include tablet {
        display: flex;
    }
}

.mobile-only {
    @include tablet {
        display: none !important;
    }
}

.desktop-only {
    @include mobile {
        display: none !important;
    }
}
