.typo-t1 {
    margin: 0;
    font-size: rem(72px);
    font-weight: 100;
    line-height: rem(86px);
    font-family: 'Canela', sans-serif;

    @include tablet {
        font-size: rem(100px);
        line-height: rem(108px);
    }
}

.typo-t2 {
    margin: 0;
    line-height: rem(56px);
    font-size: rem(45px);
    font-weight: 300;
    font-family: 'Canela', serif;

    @include tablet {
        line-height: rem(68px);
        font-size: rem(57px);
    }
}

.typo-t3,
h3 {
    margin: 0;
    line-height: rem(36px);
    font-size: rem(30px);
    font-weight: 300;
    font-family: 'Canela', serif;
}

.typo-category {
    text-transform: uppercase;
    line-height: rem(16px);
    font-size: rem(12px);
    letter-spacing: 0.07em;
    font-family: 'Suisse Int`l', sans-serif;
}

.typo-p {
    font-size: rem(20px);
    font-weight: 300;
    line-height: rem(26px);
    font-family: 'Suisse Int`l', sans-serif;

    @include tablet {
        font-size: rem(22px);
        line-height: rem(29px);
    }

    p {
        margin: rem(20px) 0 0;

        & + ul {
            margin-top: 0;
        }
    }

    small {
        line-height: rem(20px);
        font-size: rem(16px);
    }

    ul {
        margin-top: rem(20px);

        list-style-type: disc;
        list-style-position: inside;

        h3 {
            display: inline-block;
            margin-top: rem(40px);
        }
    }
}

ul[type=number] {
    list-style-type: decimal;
}

ul[type=none] {
    list-style-type: none;
}

.typo-link {
    text-transform: uppercase;
    font-family: 'Suisse Int`l', sans-serif;
}
