$maincolor: #FBF8F3;
$secondary: #E4A79D;

$blackcolor: #222222;
$textcolor: #2C2C2C;

$maingrey: #F5F5F5;
$lightcolor: #F2F2F2;

$base-font-size: 16px;

$expoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$expoInOut: cubic-bezier(.1, 0, 0, 1);
$inOut: cubic-bezier(.17,.67,.83,.67);